.container {
  margin-top: 11vh !important;
}

.header {
  text-align: center !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

.title {
  color: #f8f0d9 !important;
  font-size: 2rem !important;
  text-decoration: underline solid #f8f0d9 !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

.workContainer {
  margin-bottom: 30px !important;
}
